@media screen and (min-width: 350px) {
    #contact {
        margin-top: -90px;
        margin-bottom: -20px;
    }
}

@media screen and (min-width: 580px) {
    #contact {
        margin-top: -50px;
        margin-bottom: -20px;
    }
    
    #contact {
        h1{
            text-align: center;
            padding-left: 0;
            padding-right: 0;
        }
    }
    
    #contact {
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 90%, 70% 75%, 0% 75%);
    }
}

@media screen and (min-width: 1100px) {
    #contact {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transform: translateY(0);
    }
    
    #contact {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        
        transform: translateX(-40px);
        
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 25% 75%;
        
        h1 {
           grid-column-start: 1;
           grid-column-end: 3;
           grid-row-start: 1;
           grid-row-end: 2; 
            margin-top: 10px;
        }
        
        p {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
            
            padding-left: 65px;
        }
        
        ul {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        
        border-radius: 0 5px 5px 0;
        
        margin: 0;
        
        background-color: #f4f4f4;
        
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 5100%, 10% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 10 100%);
        
        width: 100%;
        
        padding: 5px 0 0 0;
    }
}















