@media screen and (min-width: 580px) {    
    #main-nav {        
            display: block; 
        
        ul {
            display: flex;
            flex-direction: row;   
            
            li {
                font-size: 1rem;
                padding: 0 10px;
            }
        }
    }
    
    #menu {
        display: none;
    }
    
    #primary {
        font-size: 2rem;
    }
    
    #secondary {
        font-size: 1.5rem;
    }
    
    #tertiary {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1100px) {
    #wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 325px 250px;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        margin: 5px;
    }
 
    .overlay {
        background-color: #cbcbcb;
        
        p {
            margin: 55px auto;
            font-size: 1.5rem;
            color: #333;
        }
    }
    
    #nameTitle {
        
        h1 {
        font-size: 1.5rem;
        }
        
        span {
            font-size: 1rem;

        }
    }
    
    #main-nav ul li a{
        font-size: 1.5rem;
        
    }
}















