#projects {
    
    background: #9b9b9b;
    
    padding: 0 0 10px 0;   
    
    transition: 0.5s ease;
    
    .container {
        margin: 5px 15px;
    }
    
    h1 {
        color: #f4f4f4;
        font-size: 1.75rem;
        padding: 10px 0 0 16px;
    }
}

#image-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#galleryProj,
#formProj,
#nlProj,
#trivProj,
#sbProj,
#tdProj {
    border-radius: 3px;
    display: block;
    width: 200px;
    height: 120px;
    border: solid #cbcbcb 1px;
}
