#projects {
    
    background: #9b9b9b;
    
    padding: 30px 0 5px 0;
    
    transform: translateY(-25%);
    
    transition: 0.5s ease;
    
    -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
    
    .container {
        margin: 5px 15px;
    }
    
    h1 {
        color: #f4f4f4;
        font-size: 1.75rem;
        padding-top: 30px;
        padding-left: 30px;
    }
}

#image-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#galleryProj,
#formProj,
#nlProj,
#trivProj,
#sbProj {
    border-radius: 3px;
    display: block;
    width: 200px;
    height: auto;
    border: solid #cbcbcb 1px;
}
